/* OBJECT */
.dm-canvas .object {
    display: block;
    position: absolute;
    border: var(--border-width) solid transparent;
    overflow: hidden;
    border-radius: var(--border-width);
}
/* FOCUS */
.dm-canvas .object.focus {
    border: var(--border-width) solid crimson;
}

.dm-canvas .object p:focus-visible {
    outline: none;
}

/* TEXTBOX */
.dm-canvas dm-textbox {
    user-select: auto;
}

.dm-canvas dm-textbox * {
    user-select: auto;
}
